@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* INICIO CSS */

*{
	text-decoration: none;
	list-style: none;

	color: #fff;
}

body {
	width: 100%;
}

.navegador {
	text-decoration: none;
	list-style: none;

	background-color: #FF6D41;
	background-color: rgb(30, 30, 30);

	text-transform: capitalize;
	font-weight: bold;
	letter-spacing: 1.5px;

	display: flex;
	flex-wrap: wrap;
	gap: 45px;

	justify-content: space-around;

	padding: 30px 40px;
}

.navegador li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }
  
  .navegador li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navegador li a::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  
  .navegador li a:hover:after {
    width: 100%;
}

h1 {

	font-family: "Archivo Black", sans-serif;
	font-style: normal;
	font-weight: 400;
	  
	color: #FFFFFF;
	font-size: 6vw;
	text-shadow: -6px 6px 0 rgb(30, 30, 30);

}

.banner p {
	font-size: 2.5vw;
	font-weight: 200;

	text-shadow: -2px 2px 2px rgba(30, 30, 30, 0.7);
}

.banner {
	padding: 10%;
	background-image: url(img/background_1.jpeg);
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	text-align: center;
}

.list {
	padding: 45px;
    margin: 0;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
	gap: 2vh;

	background-color: rgb(30, 30, 30);

}

.list li {
	background-color: rgb(40, 40, 40);
	padding: 20px 80px;
	border-radius: 25px;

	height: 100%;

    /* overflow: hidden; */

	transition: .3s all ease-out;
}

.list li:hover {
	box-shadow: -10px 10px 0 rgb(0, 0, 0);
}

.list li h2 {
	text-transform: uppercase;
	font-weight: bold;
}

.list li img {
	max-height: 200px;
	width: 100%;
    height: 100%;

	padding: 15px 0 15px 0;

    object-fit: cover;
}

.list li a {
	background-color: rgb(30, 30, 30);
	padding: 10px 20px;
	border-radius: 50px;

	transition: .3s all ease-out;
}

.list li a:hover {
	background-color: rgb(185, 185, 185);
	color: #000;
}

.details {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
	align-items: center;
	gap: 20px;
}